.App {
  text-align: center;
}

.counter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid;
  border-radius: 1rem;
  margin-top: 5%;
  padding: 5rem;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(190, 190, 190);
}

.counter h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

.counter  p {
  text-align: center;
  border: solid;
  border-radius: 0.5rem;
  border-width: 0.2rem;
  width: 8rem;
  padding: 0.5rem;
  background-color: rgb(12, 156, 60);
  color:rgb(34, 87, 34);
  border-color: rgb(80, 80, 80);
  font-size: 2rem;
  font-weight: bold;
}

.counter  button {
  margin: 0.1rem;
  width: 8rem;
  justify-self: center;
}

.counter label {
  font-size: 1.2rem;
}

.counter input[type="text"]{
  font-size: 1.2rem;
  margin: 0.5rem;
}

